.row-no-gutter { margin-left: 0 !important; margin-right: 0 !important; }
.row-no-gutter > [class*="col-"] { padding-left: 0 !important; padding-right: 0 !important; }

.row-half-gutter { margin-left: -7.5px; margin-right: -7.5px; }
.row-half-gutter > [class*="col-"] { padding-left: 7.5px; padding-right: 7.5px; }

.row-same-height { display: table; width: 100%; table-layout: fixed; }
.row-same-height > [class*="col-"] { float: none; display: table-cell; vertical-align: top; }
.row-same-height:after, 
.row-same-height:before { display: none; }

.row-flex { display: flex; flex-wrap: wrap; }
.row-flex > [class*="col-"] { display: flex; flex-direction: column; }
.row-flex.row:after, 
.row-flex.row:before { display: flex; }

.table-center { display: table; width: 100%; height: 100%; }
.table-cell-center { display: table-cell; vertical-align: middle; text-align: center; }