@media (max-width: $screen-lg-max)
{
    .nav-menu > li > a { padding: 0 12px; }
    .navbar-nav-right > li > a { padding: 0 10px; }
    .logo { width: 140px; }

    .post-title { font-size: 32px; }

    .slide::after { padding-top: 80%; }
    .slide-title { font-size: 32px; }

    .promo-box-title { font-size: 24px; line-height: 24px; }
}
@media (max-width: $screen-md-max)
{
    .navbar .container { width: auto; /*margin: 0 -5px;*/ }
    .navbar { font-size: 21px; }
    .nav-menu > li > a { padding: 0 7px; }
    .navbar-nav-right > li > a { padding: 0 7px; }
    .nav-submenu > li > a { padding: 7px 14px; }
    .logo { width: 114px; }

    .post-content-col,
    .post-photo-col-1 { display: block !important; }
    .post-photo-col-2 { display: none !important; }
    .post-row { display: block !important; }
    .post-row:after, 
    .post-row:before { display: none !important; }
    .post-img { position: static; height: auto; max-height: 405px; }
    .post-content { min-height: 0; }
    .post-title { font-size: 36px; }

    .slide::after { padding-top: 56%; }
    .slide-title { font-size: 36px; }

    .promo-box-title { font-size: 26px; line-height: 28px; }

}
@media (max-width: $screen-sm-max)
{
    .nav-menu { display: none; }
    
    .navbar-search-list { font-size: 15px; }
    .navbar-search-box { width: 250px; }
    .navbar-search-item a { min-height: 76px; }
    .navbar-search-item-img { width: 60px; }
    .navbar-search-item-title { margin-left: 74px; }

    .post-title { font-size: 30px; }
    .post-img { max-height: 320px; }

    .slide::after { padding-top: 66%; }
    .slider .owl-nav { display: none; }
    .slide-title { font-size: 34px; }

    .promo-box-title { font-size: 24px; line-height: 24px; }
    .promo-box-content { width: 90%; }
}
@media (max-width: $screen-xs-max)
{
    .post-date-and-author { font-size: 85%; }

    .slide::after { padding-top: 76%; }
    .slide-labels { display: none; }
    .slide-date-and-author { font-size: 85%; }
    .slide-title { font-size: 30px; }

    .promo-box-title { font-size: 20px; line-height: 20px; margin: 0; }
    .promo-box-content { padding: 12px 8px; width: 80%; }
}
@media (max-width: $screen-xxs-max)
{
    body { font-size: 17px; }

    .row { margin-left: -7.5px; margin-right: -7.5px; }
    .row > [class*="col-"] { padding-left: 7.5px; padding-right: 7.5px; }

    .logo { width: 100px; }

    .post-content { padding: 20px 15px; }
    .main-content .widget { padding: 20px 15px; }
    .post-title { font-size: 28px; }
    .post-date-and-author { margin-bottom: 17px; }
    .post-date-and-author::after { top: 17px; }
    .post-date-and-author > span { padding: 0 8px; line-height: 1.2; }
    .post .post-labels { display: none; }
    .post .post-title { margin-top: 4px; margin-bottom: 15px; }
    .post-read-more { padding: 4px 16px; }

    .slide::after { padding-top: 86%; }
    .slide-title { font-size: 28px; line-height: 28px; }
    .slide-content { left: 4%; right: 4%; }

    /*:first-child > .related-post { margin-bottom: 20px; }*/
    .related-post h4 { font-size: 16px; }
}
@media (max-width: 359px)
{    
    .slide-title { margin-bottom: 0; }
    .slide-date-and-author { display: none; }

    .promo-box-title { font-size: 18px; line-height: 18px; }

}
@media (max-width: 418px)
{    
    .comment-iframe { height: 236px; }
}