body { background: #f9f9f9; color: #444444; font-family: 'PT Sans Narrow', sans-serif; font-size: 18px;
	line-height: 1.2; overflow: hidden; }
.mobile-device body { overflow: auto; }
a { color: #444444; transition: color .5s/*, text-shadow .5s*/; }
a:focus, a:hover { color: #222222; text-decoration: none; /*text-shadow: rgba(0,0,0,0.2) 0 0 2px;*/ }

hr { margin-top: 30px; margin-bottom: 28px; }

.label { border-radius: 0; padding: 1px 8px 2px 8px; font-weight: normal; line-height: 1.8; transition: all .5s; }
.btn { border-radius: 0; background: #f3f3f3; box-shadow: rgba(0,0,0,0.1) 0px 1px 3px; transition: all .5s;
	padding: 6px 14px; text-transform: uppercase; }
.form-control { font-size: 16px; border-radius: 0; }

.hover-zoom { overflow: hidden; background: #000000; }
.hover-zoom img { transition: transform 1.2s, opacity 1.2s; will-change: transform; background: #ffffff; }
.hover-zoom:hover img { transform: scale(1.04); opacity: 0.75; }

.navbar { text-align: center; border: 0; box-shadow: rgba(0,0,0,0.15) 0px 2px 6px;
	transition: background 0.5s, color 0.5s; will-change: transform; height: 50px; font-size: 22px; }
.navbar i { font-size: 90%; }
.navbar i.fa-home { font-size: 100%; }
.navbar-inverse { background: rgba(0,0,0,0.75); color: #ffffff; }
.navbar-inverse a { color: #ffffff; }
.navbar-default { background: #ffffff; color: #444444; }
.navbar-default a { color: #444444; }
.navbar .container { position: relative; }
.logo { width: 150px; position: absolute; left: 15px; }
.nav>li>a { transition: background 0.3s; }
.nav>li>a:focus, .nav>li>a:hover { background: rgba(255,255,255,0.06); }
.navbar-nav-right { position: absolute; right: 15px; top: 0; }
.navbar-nav-right > li { float: left; position: relative; }
.navbar-nav-right > li > a { line-height: 50px; padding: 0 12px; }

.navbar-search {
	&-box { position: absolute; right: 15px; top: 50px; background: rgba(0,0,0,0.75); width: 300px;
		overflow: auto; }
	&-box::-webkit-scrollbar { display: none; }
	&-input { background: rgba(255,255,255,0.06); border: 0; border-radius: 0; color: #ffffff;
		width: 100%; box-shadow: none !important; outline: none !important; }
	&-list { padding: 8px 0; margin: 0; font-size: 16px; list-style: none; }
	&-more a { min-height: auto !important; }
	&-item {
		a { display: block; padding: 8px 14px; min-height: 86px; }
		a:hover { background: rgba(255,255,255,0.06); }
		&-img { float: left; width: 70px; }
		&-title { margin: -2px 0; margin-left: 84px; font-size: inherit; text-align: left; }
	}
}

.nav-menu { font-family: 'Amatic SC', cursive; font-weight: bold; display: inline-block; }
.nav-menu > li { float: left; position: relative; }
.nav-menu > li > a { display: block; line-height: 50px; text-align: center; padding: 0 14px; }
.nav-menu > li:hover > .nav-submenu { transform: translateY(0px);
	opacity: 1; visibility: visible; transition: all 0.5s; }

.nav-submenu { position: absolute; width: 200px; left: 50%; top: 50px; margin-left: -100px; font-size: 90%;
	background: rgba(0,0,0,0.75); transition: opacity .3s, visibility .3s, transform .3s step-end;
	box-shadow: rgba(0,0,0,0.15) 0px 2px 6px; transform: translateY(20px); opacity: 0; visibility: hidden;
	padding: 8px 0; }
.nav-submenu > li + li { margin-top: 0; }
.nav-submenu > li > a { padding: 8px 14px; }

.menu-fullscreen {
	& { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: #000000; overflow: auto;
		z-index: 8000; box-shadow: inset 0 0 400px 0 rgba(#E33131, 0.1); display: none; }
	&, a { color: #ffffff; }
	&::-webkit-scrollbar { display: none; }
	&-content { padding: 30px 0; overflow: hidden; }
	&-nav { max-width: 300px; margin: 0 auto; font-family: 'Amatic SC', cursive; font-weight: bold;
		font-size: 22px; }
	&-nav li > a:focus, &-nav li > a:hover { background: rgba(255,255,255,0.035); }
	&-logo { width: 300px; max-width: 70%; margin-bottom: 10px; }
	&-btn { position: absolute; top: 0; left: 50%; height: 50px; width: 50px; margin-left: -25px;
		background: none; font-size: 20px; line-height: 50px; padding: 0; text-align: center;
		color: #ffffff !important; }
	&-submenu { font-size: 90%; margin-bottom: 10px; margin-top: 4px; }
	&-submenu > li > a { padding: 5px 15px; }
}

.slider { background: #000000; }
.slide { position: relative; }
.slide::after { content: ""; display: block; padding-top: 66%;/*56.25%;*/ }
.slide-container { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.slide-img-container { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.slide-img { position: absolute; top: 0; left: 0; width: 100%; height: 100%;
	object-fit: cover; font-family: 'object-fit: cover'; }
.slide-inner { width: 100%; height: 100%; top: 0; left: 0; text-align: center; position: absolute;
	background: linear-gradient(to bottom, rgba(0,0,0,0) 40%, rgba(10,10,10,0.7) 100%); will-change: transform; }
.slide-bg-link { position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; }
.slide-content { position: absolute; left: 8%; right: 8%; bottom: 8%; }
.slide-title { font-family: 'Amatic SC', cursive; font-size: 36px; font-weight: bold; margin: 10px 0; }
.slide-title a { color: #ffffff;  }
.slide-date-and-author { font-size: 90%; background: rgba(0,0,0,0.0); color: #ffffff;
	text-shadow: rgba(0,0,0,0.5) 1px 1px 5px; }
.slide-title a,
.slide-date-and-author a {
	& { color: #ffffff; transition: all 0.5s; text-shadow: rgba(0,0,0,0.5) 1px 1px 5px; }
	&:hover,
	&:focus { text-shadow: rgba(0,0,0,0.5) 1px 1px 5px, rgba(255,255,255,0.65) 0 0 10px; color: #ffffff; }
}
.slide-date-and-author a { color: #eeeeee; }
.slide-labels .label { background: rgba(0,0,0,0.75); color: #ffffff; text-shadow: rgba(0,0,0,0.5) 1px 1px 5px; }
.slide-labels .label:focus,
.slide-labels .label:hover { background: rgba(50,50,50,0.75); }
.slide-labels,
.slide-title,
.slide-date-and-author { will-change: transform; }
.slider-prev,
.slider-next { position: absolute; top: 50%; color: #ffffff; font-size: 40px; margin-top: -24px;
	z-index: 100; cursor: pointer; }
.slider-prev { left: 30px; }
.slider-next { right: 30px; }
.slide a { color: #ffffff; }
	
.promo-box-container { perspective: 1000px; }
.promo-box { position: relative; box-shadow: #cccccc 0px 1px 3px; transition: all 0.5s; max-width: 360px;
	margin: 0 auto; }
.promo-box:hover { transform: rotateY(15deg); }
.promo-box::after { content: ""; display: block; padding-top: 130%; }
.promo-box-img { position: absolute; top: 0; left: 0; width: 100%; height: 100%;
	object-fit: cover; font-family: 'object-fit: cover'; }
.promo-box-inner { width: 100%; height: 100%; top: 0; left: 0; text-align: center; position: absolute; }
.promo-box-inner::before,
.promo-box-inner::after { content: ""; display: inline-block; height: 100%; vertical-align: middle; }
.promo-box-bg-link { position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; }
.promo-box-content { display: inline-block; vertical-align: middle; width: 80%; background: #ffffff;
	padding: 15px; position: relative; z-index: 2; }
.promo-box-title { font-family: 'Amatic SC', cursive; font-size: 26px; font-weight: bold; margin: 10px 0; }
.promo-box-date,
.promo-box-author { font-size: 85%; }

.post { background: #ffffff; box-shadow: #eeeeee 0px 1px 3px; }
.post-img { position: absolute; width: 100%; height: 100%; object-fit: cover; font-family: 'object-fit: cover'; }
.post-content { padding: 30px; min-height: 400px; text-align: center; }
.post:nth-child(odd) .post-photo-col-2 { display: none; }
.post:nth-child(even) .post-photo-col-1 { display: none; }
.post-labels .label { background: #e6e6e6; color: #444444; }
.post-labels .label:focus,
.post-labels .label:hover { background: darken(#e6e6e6, 6%); color: darken(#444444, 6%); }
.post-date-and-author { margin-bottom: 20px; font-size: 90%; position: relative; }
.post-date-and-author::after { content: ""; position: absolute; display: block; border-top: solid 1px #eeeeee;
	width: 100%; top: 9px; }
.post-date-and-author > span { background: #ffffff; position: relative; z-index: 1; padding: 0 15px;
	display: inline-block; }
.post-title { font-family: 'Amatic SC', cursive; font-size: 36px; font-weight: bold; margin: 20px 0; }
.post-read-more { margin-top: 20px; }

.post-full { background: #ffffff; box-shadow: #eeeeee 0px 1px 3px; overflow: hidden; }
.post-full-img { width: 100%; max-height: 600px; object-fit: cover; font-family: 'object-fit: cover'; }
.post-full-intro { font-style: italic; text-align: justify; }
.post-full .post-text { text-align: left; line-height: 1.4; }
.post-full .post-text img { /*width: auto;*/ height: auto; max-width: 100%; max-height: 600px; }
.post-full .post-text img.img-xl { width: auto; }
.post-full .post-content { padding-bottom: 15px; min-height: 0; }
.post-full h2 { font-weight: bold; }
.post-full h3 { font-weight: bold; }
.post-full h4 { font-weight: bold; font-size: 20px; }
.post-full .post-text a { color: #777777; }
.post-full .post-text a:hover { color: #000000; }

.anchor { position: absolute; opacity: 0; visibility: hidden; margin-top: -60px; }

.scroll-container { overflow: hidden; }
.scroll-container.active { position: fixed; top: 0; left: 0; bottom: 0; right: 0; overflow: hidden;
	overflow-anchor: none; }

.scroll-to-top { position: fixed; z-index: 1000; bottom: 15px; right: 15px;
	transition: opacity 0.5s, visibility 0.5s; opacity: 0; visibility: hidden; }
.scroll-to-top.visible { opacity: 1; visibility: visible; }

.fixed-content { position: fixed; width: 100%; height: 0; left: 0; }

.scrollbar-track { position: fixed; top: 0; right: 0; height: 100%; width: 0px; z-index: 7000; 
	transition: opacity .6s, visibility .6s; opacity: 0; visibility: hidden; }
.scrollbar-track.active { opacity: 1; visibility: visible; transition: opacity .3s, visibility .3s; }
.scrollbar-thumb { position: absolute; width: 3px; right: 0; top: 0; background: #E33131; }
.scrollbar-thumb:hover,
.scrollbar-thumb.active { width: 6px; }
.mobile-device .scrollbar-track { display: none; }

.curtain { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 9000; background: #000000;
	text-align: center; transition: all 0.6s; opacity: 0; visibility: hidden; }
.curtain::before,
.curtain::after { content: ""; display: inline-block; height: 100%; vertical-align: middle; }
.curtain.active { opacity: 1; visibility: visible; transition: all 0.4s; }
.curtain-content { display: inline-block; vertical-align: middle; }

footer { background: #111111; color: #aaaaaa; }
.footer-columns { border-right: solid 1px #222222; margin-bottom: -1px; margin-left: 0; margin-right: 0; }
.footer-column { border-left: solid 1px #222222; padding: 30px 20px !important;
	border-bottom: solid 1px #222222; }
.footer-bottom { border-top: solid 1px #222222; text-align: center; padding: 20px; }

.bb-widget { min-height: 210px; margin-bottom: 10px; }
.a4b-buybox-standard { font-family: 'PT Sans Narrow', sans-serif !important; font-size: 16px !important;
	position: relative; margin: 0px !important; }
.a4b-buybox-standard .a4b-box-td1,
.a4b-buybox-standard .a4b-box-td2,
.a4b-buybox-standard .a4b-box-td3,
.a4b-buybox-standard .a4b-box-td4 { color: #444444 !important; }
.a4b-buybox-standard .a4b-box-show-more { color: #444444 !important; background: #eeeeee !important; }
.a4b-buybox-standard .a4b-box-tab.bb-fade:after { left: 0; }
.a4b-buybox-standard .a4b-box-tabs a:hover,
.a4b-buybox-standard .a4b-box-tabs a.active { color: #444444 !important; }
.a4b-box-head { color: #444444 !important; font-weight: normal !important; text-align: center;
	font-size: 18px !important; }
.a4b-buybox-standard .a4b-box-th1,
.a4b-buybox-standard .a4b-box-th2,
.a4b-buybox-standard .a4b-box-th3,
.a4b-buybox-standard .a4b-box-th4,
.a4b-buybox-standard .a4b-box-tabs { font-size: 14px !important; }
.a4b-buybox-standard .a4b-box-footer { font-size: 12px !important; position: absolute; bottom: 4px; right: 0;
	padding: 0 !important; }
.a4b-buybox-standard .a4b-box-tabs { text-align: left; height: 16px; }
.a4b-buybox-standard .a4b-box-row-foot { border: 0 !important; padding: 0 !important; margin-top: 6px; }
.a4b-buybox-standard .a4b-box-td1 img { width: 16px; height: 16px; }

.tr-caption-container { width: 100%; margin-bottom: 20px; }
.tr-caption-container td.tr-caption { font-size: 90%; background: #f3f3f3; padding: 8px 10px; }

.youtube-iframe-container { position: relative; padding-bottom: 9 / 16 * 100%; }
.youtube-iframe-container iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

footer {
  .form-control { background: none; border-color: #222222; color: #dddddd; }
  .form-control:focus { border-color: #222222; }
  .btn-default { background: #222222; border-color: #222222; color: #dddddd; } 
  .btn-default:focus,
  .btn-default:hover,
  .btn-default:active,
  .btn-default:focus:active { background: lighten(#222222, 4%); border-color: lighten(#222222, 4%);
    color: lighten(#dddddd, 4%); }
  .btn-default:focus:active,
  .btn-default:active { background: lighten(#222222, 6%); }
  .widget { margin: 30px 0; }
  .widget:first-child { margin-top: 0; }
  .widget:last-child { margin-bottom: 0; }
  .widget > h2 { margin: 0; margin-bottom: 14px; font-size: 28px; font-weight: bold;
    font-family: 'Amatic SC', cursive; }
}

.form-control:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
a:focus { outline: solid 3px rgba(#E33131, 0.2); outline-offset: 0px; box-shadow: none; }

.sidebar-container { margin-top: 30px; margin-bottom: 30px; }
.sidebar img { max-width: 100%; height: auto; width: auto; }
.widget.Image .caption { display: block; margin-top: 10px; }
.section { margin: 0 !important; }

.main-content {
  .widget { background: #ffffff; box-shadow: #eeeeee 0px 1px 3px; overflow: hidden; padding: 28px 30px;
    margin: 30px 0; }
  .widget > h2 { padding: 0px; margin: 0; padding-bottom: 20px; font-size: 28px; font-weight: bold;
    font-family: 'Amatic SC', cursive; text-align: center; }
  .widget-content { padding: 0px; text-align: center; }
}

.widget.Blog { margin: 0; padding: 0; background: none; box-shadow: none; }

.review-group {
	&:first-child h3 { margin-top: 0; }
	ul { padding: 0; }
	li { list-style: none; }
}

.img-left { margin-right: 30px; }
.img-right { margin-left: 30px; }

.related-post { display: block; }
.related-post-photo { position: relative; }
.related-post-photo::after { content: ""; display: block; padding-top: 75%; }
.related-post img { position: absolute; width: 100%; height: 100%; object-fit: cover;
	font-family: 'object-fit: cover'; }
.related-post h4 { margin-bottom: 0px; text-align: center; }

.comment { font-size: 16px; line-height: 1.2; }
.comment-author { font-weight: bold; }
.comment-author-owner { background: #ffe6e6; border-radius: 8px; padding: 0px 6px; display: inline-block; }
.comment .media-object { border-radius: 50%; width: 35px; height: 35px; background: #eeeeee; }
.comment-footer { margin: 0; margin-top: 2px; color: #999999; }
.comment-footer a { color: #999999; }
//.comment-time { opacity: 0.6; }
.comment-iframe-container { margin: -8px; margin-top: 8px; }
.comment-iframe { width: 100%; height: 210px; border: 0; overflow: hidden; }
.comments > .comment:not(:first-child) { margin-top: 25px; }

.media, .media-body { overflow: visible; }

#book { transform: scaleX(-1); }

/*.fade-leave-active { position: fixed; top: 0; left: 0; right: 0; }

.fade-enter-active, .fade-leave-active {
	transition: opacity 0.5s;
  }
  .fade-enter, .fade-leave-to {
	opacity: 0;
  }*/

@-moz-document url-prefix() {
	.nav-menu > li > a { letter-spacing: -0.05em; }
	.nav-submenu > li > a { letter-spacing: -0.045em; }
	.slide-title { letter-spacing: -0.053em; }
	.promo-box-title { letter-spacing: -0.04em; }
	.post-title { letter-spacing: -0.053em; }
	.main-content .widget > h2 { letter-spacing: -0.036em; }
	.menu-fullscreen-nav > li > a { letter-spacing: -0.05em; }
	.menu-fullscreen-submenu > li > a { letter-spacing: -0.045em; }
}

[data-arise],
.curtain,
.content-container,
.promo-box,
.scrollbar-thumb,
.menu-fullscreen,
.menu-fullscreen-content,
.menu-fullscreen-logo,
.menu-fullscreen-nav > li,
.slide-container { will-change: transform; transform: translateZ(0); }