<template>
    <div>
        <div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<a href='./'><img :src='`${assetsBase}/img/logo-bg-b.png`' alt='NIEKULTURALNIE.PL' class='logo'/></a>
				<ul class='nav nav-menu visible-md-inline-block visible-lg-inline-block visible-xl-inline-block'>
					<li><a href='./'><i class='fa fa-home'></i></a></li>
					<li v-for='item in settings["Menu"].items' :key='item.key'>
						<a :href='item.value || ""'>{{item.key}}</a>
						<ul v-if='item.items' class='nav nav-stacked nav-submenu'>
							<li v-for='subitem in item.items' :key='subitem.key'>
								<a :href='subitem.value || ""'>{{subitem.key}}</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class='nav nav-menu visible-xxs-inline-block visible-xs-inline-block visible-sm-inline-block'>
					<li><a href='javascript:;' class='btn-fullscreen-menu-toggle' @click='toggleFullscreenMenu()'><i class='fa fa-fx fa-bars xxs-pr-5 xxs-pl-5'></i></a></li>
				</ul>
				<ul class='nav navbar-nav-right'>
					<li><a target='_blank' :href='settings["Profil FB"].value' data-toggle='tooltip' data-placement='bottom' title='Facebook'><i class='fa fa-fw fa-facebook'></i></a></li>
					<li><a target='_blank' :href='settings["Profil Instagram"].value' data-toggle='tooltip' data-placement='bottom' title='Instagram'><i class='fa fa-fw fa-instagram'></i></a></li>
					<li><a @click='toggleSearchBox($event)' href='javascript:;' data-toggle='tooltip' data-placement='bottom' title='Szukaj...' class='btn-search-toggle'><i class='fa fa-fw fa-search'></i></a></li>
				</ul>
				<div class='navbar-search-box' v-if='search.visible'>
					<input v-model='search.query' v-on:keydown.enter='gotoSearchPage' v-on:input='searchPosts' placeholder="Czego szukasz?" class='form-control navbar-search-input'/>
					<ul v-if='search.query' class='navbar-search-list'>
						<li v-for="post in search.results" :key='post.id' class='navbar-search-item'>
							<a :href='post.url'>
								<img v-if='post.photo' class='navbar-search-item-img' :src='post.photoCustom("s70-c")'/>
								<h3 class='navbar-search-item-title'>{{post.title}}</h3>
							</a>
						</li>
						<li v-if='search.more && search.results.length' class='navbar-search-item navbar-search-more'>
							<a :href='searchMoreUrl(search.query)'>Pokaż więcej wyników...</a>
						</li>
						<li v-if='search.searching'>Szukam...</li>
						<li v-if='!search.searching && !search.results.length'>Nic nie znalazłem.</li>
					</ul>
				</div>
			</div>
		</div>

		<div v-if='fullscreenMenu' class="menu-fullscreen">
			<div class='table-center menu-fullscreen-content'>
        		<a class='btn btn-close menu-fullscreen-btn' @click='toggleFullscreenMenu()'><i class='fa fa-times'></i></a>
				<div class='table-cell-center'>
					<a href='./'><img :src='`${assetsBase}/img/logo-bg-b.png`' alt='NIEKULTURALNIE.PL' class='menu-fullscreen-logo'/></a>
					<ul class="nav menu-fullscreen-nav">
						<li v-for='item in settings["Menu"].items' :key='item.key'>
							<a v-if='!item.items' :href='item.value || ""'>{{item.key}}</a>
							<a v-if='item.items' href='javascript:;' onclick="$(this).parent().find('ul').slideToggle()">{{item.key}}</a>
							<ul style='display: none' v-if='item.items' class='nav nav-stacked menu-fullscreen-submenu'>
								<li v-for='subitem in item.items' :key='subitem.key'>
									<a :href='subitem.value || ""'>{{subitem.key}}</a>
								</li>
							</ul>
						</li>
		            </ul>
		         </div>
		     </div>
        </div>
		
		<div class='scroll-container'>
			<div class='content-container'>
				<div class='main-content'>
					<!--<transition name='fade'>-->
						<router-view :key='pageKey()'></router-view>
					<!--</transition>-->
				</div>
				<footer>
					<div class='container'>
						<div class='row row-flex footer-columns'>
							<div class='col-xxs-12 col-sm-12 col-lg-4 footer-column'>
								<div class='blogger-insert-section' data-id='footer1'></div>
							</div>
							<div class='col-xxs-12 col-sm-6 col-lg-4 footer-column'>
								<div class='blogger-insert-section' data-id='footer2'></div>
							</div>
							<div class='col-xxs-12 col-sm-6 col-lg-4 footer-column'>
								<div class='blogger-insert-section' data-id='footer3'></div>
							</div>
						</div>
					</div>
					<div class='footer-bottom'>
						<span style="font-size: 13px;">
							wykonanie:	<a title="Profesjonalne tworzenie stron i aplikacji internetowych" target="_blank" href="http://apfect.pl">
								<strong>Apfect</strong> 
							</a>
						</span>
					</div>
				</footer>
			</div>
			<!--<div class='scroll-content-placeholder'></div>-->
		</div>
		
		<button data-container='.fixed-content' class='scroll-to-top btn btn-default' title='Przewiń do góry' data-placement='left' data-toggle='tooltip'><i class='fa fa-arrow-up fa-fw'></i></button>	
		<div class='fixed-content'></div>
    </div>
</template>
<script>
    import PostComponent from '../components/PostComponent.vue';
    import CommentComponent from '../components/CommentComponent.vue';
	import { cache, preparePostsFromFeed } from '../js/data-processing.js';

    var searchRequest = null;

    export default
    {
		components: { post: PostComponent, comment: CommentComponent },
		data()
        {
            return {
				settings: cache.settings,
				search:
				{
					results: [],
					query: '',
					searching: false,
					more: false,
					visible: false,
				},
				url: window.location.href,
				assetsBase: $('body').data('assets'),
				fullscreenMenu: false
			}
        },
		//created: initStart,
		updated()
		{
			window.init(this.$el);
		},
		methods:
		{
			pageKey()
			{
				return this.$route.path+"?"+$.param(this.$route.query);
			},
			searchMoreUrl: query => "search?q=" + encodeURIComponent(query),
			labelUrl: label => "search/label/" + encodeURIComponent(label),
			archiveUrl: (year, month = null) => year + (month ? "/" + (month < 10 ? '0' : '') + month : ''),
			gotoSearchPage(e)
			{
				if (this.search.query.length >= 1)
					$('<a>').attr('href', this.searchMoreUrl(this.search.query)).hide().appendTo('body').click();
			},
			searchPosts()
			{
				if (searchRequest) searchRequest.abort();
				this.search.results = [];
				if (this.search.query.length >= 1)
				{
					this.search.searching = true;
					var searchCallback = function(data)
					{
						searchRequest = null;
						this.search.searching = false;
						if (data.feed.entry)
						{
							this.search.more = data.feed.entry.length > 5;
							this.search.results = preparePostsFromFeed({ entry: data.feed.entry.slice(0, 5) });
						}
					}.bind(this);
					var queryUrl = window.feedBase+'posts/default?callback=?';
					var queryParams = { q: this.search.query, 'max-results': 6, redirect: false, orderby: 'relevance', alt: 'json' };
					searchRequest = $.getJSON(queryUrl, queryParams, searchCallback);
				}
			},
			toggleSearchBox(e)
			{
				if (e.originalEvent) e.originalEvent.dontHideSearchBox = true;
				this.search.visible = !this.search.visible;
				var view = this;
				this.$nextTick(function()
				{
					if (view.search.visible)
					{
						$('.navbar-search-input').focus();
						$('.tooltip').hide();
						$('.navbar-search-box').click(function(e)
						{
							if (e.originalEvent) e.originalEvent.dontHideSearchBox = true;
						});
						$('body').on('click.search-box', function(e)
						{
							if (e.originalEvent && !e.originalEvent.dontHideSearchBox)
							{
								view.search.visible = false;
								$('body').off('click.search-box');
							}
						});
					}
					else $('body').off('click.search-box');
				});
			},
			toggleFullscreenMenu()
			{
				if (this.fullscreenMenu)
				{
					window.hideFullscreenMenu(() => this.fullscreenMenu = false);
				}
				else
				{
					this.fullscreenMenu = true;
					this.$nextTick(() => window.showFullscreenMenu());
				}
			}
		}
    }
</script>