<template>
    <div class='media comment'>
        <div class='anchor' :id='`c${comment.id}`'></div>
        <div class="media-left">
            <a target='_blank' :href="comment.author.url">
                <img class="media-object" :src='comment.author.image.url'/>
            </a>
        </div>
        <div class="media-body">
            <a target='_blank' class='comment-author' :href='comment.author.url' :class='{"comment-author-owner": comment.author.owner}'>{{comment.author.displayName}}</a>
            <span v-html='comment.content' class='comment-content'></span>
            <div class='comment-footer'>
                <span data-toggle='tooltip' :title='comment.date' class='comment-time'>{{comment.when}}</span>
                &bull;
                <a href="javascript:;" v-on:click='rootComment.showForm = true'>Odpowiedz</a>
                <span :class='`item-control ${comment.itemClass}`'>
                    &bull;
                    <a :href="`https://www.blogger.com/delete-comment.g?blogID=${root.blog.id}&postID=${comment.id}`">Usuń</a>
                </span>
            </div>
            <comment v-for='subcomment in comment.items' :key='subcomment.id' :comment='subcomment' :root-comment='rootComment' :is-page-comment='isPageComment' :root='root'/>
            <div v-if='comment == rootComment && comment.showForm' class='comment-iframe-container'>
                <iframe class='comment-iframe' scrolling='no' :src='`https://www.blogger.com/comment-iframe.g?blogID=${root.blog.id}&${isPageComment?"page":"post"}ID=${root.id}&parentID=${comment.id}`'></iframe>
            </div>
        </div>
    </div>
</template>
<script>
    export default
    {
        name: 'comment',
        props: ['comment', 'rootComment', 'isPageComment', 'root'],
    }
</script>