<template>
    <article data-arise='fadeIn2' class='post xxs-mb-30'>
        <div class='row row-no-gutter row-flex post-row'>
            <div class='col-lg-6 post-photo-col-1 hover-zoom'>
                <a :href='post.url'>
                    <img class='post-img' :src='post.photo'/>
                </a>
            </div>
            <div class='col-lg-6 post-content-col'>
                <div class='post-content'>
                    <div class='post-labels'>
                        <template v-for='label in post.labels'>
                            <a class="label" :href='labelUrl(label)' :key='label'>{{label}}</a>{{' '}}
                        </template>
                    </div>
                    <h3 class='post-title'><a :href='post.url'>{{post.title}}</a></h3>
                    <div class='post-date-and-author'>
                        <span>
                            <a :href='post.archiveUrl'><i class='fa fa-clock-o'></i> {{post.when}}</a><br class='visible-xxs'>
                            <span class='hidden-xxs'>&nbsp;&nbsp;</span>
                            <a target="_blank" :href='post.author.url'><i class='fa fa-coffee'></i> {{post.author.displayName}}</a>
                        </span>
                    </div>
                    <div class='post-intro'>{{post.intro}}</div>
                    <a :href='post.url' class='btn btn-default post-read-more'>Czytaj dalej</a>
                </div>
            </div>
            <div class='col-lg-6 post-photo-col-2 hover-zoom'>
                <a :href='post.url'>
                    <img class='post-img' :src='post.photo'/>
                </a>
            </div>
        </div>
    </article>
</template>
<script>
    import { preloadImage } from '../js/helpers.js';
    export default
    {
        props: ['post'],
        methods:
        {
            labelUrl: label => "search/label/" + encodeURIComponent(label),
        },
        /*created()
        {
            var photoUrl = this.post.photo;
            preloadImage(photoUrl, () => $('.post-img', this.$el).attr('src', photoUrl));
        },*/
    }
</script>