<template>
    <div>
        <div style='background: #000000' class='xxs-pt-50'></div>
        <div class='container'>
            
            <div class='widget text-center'>
                <h2>Archiwum</h2>
                <p class='xs-mb-0'>
                    <a title='Poprzedni miesiąc' data-toggle='tooltip' v-if='month' :href='archiveUrl(month <= 1 ? year - 1 : year, month <= 1 ? 12 : month - 1)'><i class='fa fa-fw fa-angle-double-left'></i></a>
                    <a title='Poprzedni rok' data-toggle='tooltip' v-if='!month' :href='archiveUrl(year - 1)'><i class='fa fa-fw fa-angle-double-left'></i></a>
                    &nbsp;
                    {{month ? start.format('MMMM YYYY') : start.format('YYYY')}}
                    &nbsp;
                    <a title='Następny miesiąc' data-toggle='tooltip' v-if='month' :href='archiveUrl(month >= 12 ? parseInt(year) + 1 : year, month >= 12 ? 1 : parseInt(month) + 1)'><i class='fa fa-fw fa-angle-double-right'></i></a>
                    <a title='Następny rok' data-toggle='tooltip' v-if='!month' :href='archiveUrl(parseInt(year) + 1)'><i class='fa fa-fw fa-angle-double-right'></i></a>
                </p>
            </div>
            
            <section class='posts'>
                <post v-for='post in posts' :key='post.id' :post='post'/>
            </section>
            
            <!--<div v-if='hasMore'><div class='infinite-more' @click='loadMore'></div></div>-->
            <div class='text-center'>
                <button v-if='hasMore && !loadingMore' @click='loadMore()' class='btn btn-default xxs-mb-30'><i class='fa fa-angle-double-down'></i> Pokaż więcej</button>
            </div>

            <div v-if='loadingMore' class='widget text-center' data-arise='fadeIn2'>
                <i class="fa fa-spinner fa-pulse"></i> Doładowuję posty...
            </div>

            <div v-if='!posts' class='widget' data-arise='fadeIn2'>
                <i class="fa fa-spinner fa-pulse"></i> Ładuję posty...
            </div>
            
            <div v-if='posts && !posts.length' class='widget' data-arise='fadeIn2'>
                Nic nie znalazłem :(.
            </div>
            
        </div>
    </div>
</template>
<script>
    import PostComponent from '../components/PostComponent.vue';
    import { cache, preparePostsFromFeed, isRefreshTime } from '../js/data-processing.js';
    import { setMeta, preloadImages } from '../js/helpers.js';
    import moment from 'moment';

    cache.archives = {};

    export default
    {
        data()
        {
            return {
                posts: null,
                hasMore: false,
                loadingMore: false,
                year: null,
                month: null,
            }
        },
        components: { post: PostComponent },
        created()
        {
            this.fetchData();
        },
        updated()
		{
			window.init(this.$el);
		},
        methods:
        {
            archiveUrl: (year, month = null) => year + (month ? "/" + (month < 10 ? '0' : '') + month : ''),
            fetchData()
            {
                var view = this;
                view.year = this.$route.params.year;
                view.month = this.$route.params.month;
                view.start = view.month ? moment([view.year, view.month - 1]) : moment([view.year]);
		        view.end = view.month ? view.start.clone().endOf('month') : view.start.clone().endOf('year');
                view.path = this.archiveUrl(view.year, view.month);
                setMeta({ pageTitle: `Archiwum - ${view.month ? view.start.format('MMMM YYYY') : view.start.format('YYYY')}` });
                if (cache.archives[view.path]) Object.assign(view, cache.archives[view.path]);
                //if (!cache.archives[view.path] || isRefreshTime(cache.archives[view.path].cachedAt) || cache.archives[view.path].posts.length < history.get('postCount'))
                {
                    window.pushLoadCondition();
                    var queryParams = { 'max-results': history.get('postCount', 10), 'published-min': view.start.format(), 'published-max': view.end.format(), alt: 'json' };
                    $.getJSON(window.feedBase+'posts/default?callback=?', queryParams, function(data)
                    {
                        cache.archives[view.path] =
                        {
                            posts: preparePostsFromFeed(data.feed),
                            hasMore: parseInt(data.feed.openSearch$itemsPerPage.$t) + parseInt(data.feed.openSearch$startIndex.$t) <= parseInt(data.feed.openSearch$totalResults.$t),
                            cachedAt: moment()
                        };
                        preloadImages(cache.archives[view.path].posts.slice(0, 2).map(p => p.photo), function()
                        {
                            Object.assign(view, cache.archives[view.path]);
                            window.popLoadCondition();
                        }, 100);
                    });
                }
            },
            loadMore()
			{
                var view = this;
				var queryParams = { 'start-index': view.posts.length + 1, 'max-results': 10, 'published-min': view.start.format(), 'published-max': view.end.format(), alt: 'json' };
				$.getJSON(feedBase+'posts/default?callback=?', queryParams, function(data)
				{
                    var posts = preparePostsFromFeed(data.feed);
                    var c = cache.archives[view.path];
                    c.posts = view.posts.concat(posts).filter((item, index, self) => self.findIndex(item2 => item2.id == item.id) == index);
                    c.hasMore = parseInt(data.feed.openSearch$itemsPerPage.$t) + parseInt(data.feed.openSearch$startIndex.$t) <= parseInt(data.feed.openSearch$totalResults.$t);
					history.set('postCount', c.posts.length);
					preloadImages(posts.slice(0, 2).map(p => p.photo), function()
                    {
                        view.posts = c.posts;
                        view.hasMore = c.hasMore;
                        view.loadingMore = false;
                    }, 100);
				});
				this.loadingMore = true;
			}
        }
    }
</script>