<template>
    <div>
        <div style='background: #000000' class='xxs-pt-50'></div>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-8'>
                    <div class='widget text-center'>
                        <h2 class='xxs-pb-0'>Błąd 404</h2>
                    </div>
                    
                    <section class='widget text-center' data-arise='fadeIn2'>
                        <p>Podana strona nie istnieje.</p>
                        <p><i class='fa fa-frown-o fa-4x'></i></p>
                    </section>
                </div>
                <aside class='col-lg-4 sidebar-container'>
                    <div class='row'>
                        <div class='col-sm-6 col-lg-12'>
                            <div class='blogger-insert-section' data-id='sidebar1'></div>
                        </div>
                        <div class='col-sm-6 col-lg-12 xxs-mt-30 sm-mt-0 lg-mt-30'>
                            <div class='blogger-insert-section' data-id='sidebar2'></div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</template>
<script>
    import { setMeta } from '../js/helpers.js';

    export default
    {
        created()
        {
            setMeta({ pageTitle: 'Błąd 404' });
        },
        beforeDestroy()
        {
            $('.section', this.$el).appendTo('.blogger-sections');
        }
    }
</script>