<template>
    <div>
        <div v-if='!sliderPosts' style='background: #000000' class='xxs-pt-50'></div>

        <section :key='sliderKey' v-if='sliderPosts' class='slider' data-arise='ariseSlider' data-arise-js>
            <div class='swiper-wrapper'>
                <article v-for='post in sliderPosts' :key='post.id' class='slide swiper-slide hover-zoom' :data-id='post.id'>
                    <div class='slide-container'>
                        <div class='slide-img-container'>
                            <img class='slide-img' :src='post.photo'/>
                        </div>
                        <div class='slide-inner'>
                            <a :href='post.url' class='slide-bg-link'></a>
                            <div class='slide-content'>
                                <div class='slide-labels'>
                                    <template v-for='label in post.labels'>
                                        <a class="label" :href='labelUrl(label)' :key='label'>{{label}}</a>{{' '}}
                                    </template>
                                </div>
                                <h3 class='slide-title'><a :href='post.url'>{{post.title}}</a></h3>
                                <div class='slide-date-and-author'>
                                    <span>
                                        <a :href='post.archiveUrl'><i class='fa fa-clock-o'></i> {{post.when}}</a>
                                        &nbsp;&nbsp;
                                        <a target="_blank" :href='post.author.url'><i class='fa fa-coffee'></i> {{post.author.displayName}}</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="slider-prev"><i class="fa fa-angle-left"></i></div>
            <div class="slider-next"><i class="fa fa-angle-right"></i></div>
        </section>
        <!--<section :key='sliderKey' v-if='sliderPosts' class='slider owl-carousel' data-arise='ariseSlider' data-arise-js>
            <article v-for='post in sliderPosts' :key='post.id' class='slide hover-zoom' :data-id='post.id'>
                <div class='slide-container'>
                    <div class='slide-img-container'>
                        <img class='slide-img' :src='post.photo'/>
                    </div>
                    <div class='slide-inner'>
                        <a :href='post.url' class='slide-bg-link'></a>
                        <div class='slide-content'>
                            <div class='slide-labels'>
                                <template v-for='label in post.labels'>
                                    <a class="label" :href='labelUrl(label)' :key='label'>{{label}}</a>{{' '}}
                                </template>
                            </div>
                            <h3 class='slide-title'><a :href='post.url'>{{post.title}}</a></h3>
                            <div class='slide-date-and-author'>
                                <span>
                                    <a :href='post.archiveUrl'><i class='fa fa-clock-o'></i> {{post.when}}</a>
                                    &nbsp;&nbsp;
                                    <a target="_blank" :href='post.author.url'><i class='fa fa-coffee'></i> {{post.author.displayName}}</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </section>-->
        <div class='clearfix'></div>

        <div class='container xxs-mt-30'>
            
            <section v-if='promoPosts' data-arise-trigger='promo-boxes' class='promo-boxes row'>
                <div v-for='(post, index) in promoPosts' :key='post.id' class='col-lg-4 col-xxs-6 promo-box-container xxs-mb-30' :class='{"visible-lg visible-xl": index == 2}' data-arise-manual='fadeIn2' :data-arise-delay="index*0.1 + 's'" data-arise-group='promo-boxes'>
                    <article class='promo-box'>
                        <img class='promo-box-img' :src='post.photo'/>
                        <a :href='post.url' class='promo-box-bg-link'></a>
                        <div class='promo-box-inner'>
                            <div class='promo-box-content'>
                                <div class='promo-box-author hidden-xxs hidden-xs'><a target="_blank" :href='post.author.url'>{{post.author.displayName}}</a></div>
                                <h3 class='promo-box-title'><a :href='post.url'>{{post.title}}</a></h3>
                                <div class='promo-box-date hidden-xxs hidden-xs'><a :href='post.archiveUrl'>{{post.when}}</a></div>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
                    
            <section class='posts'>
                <post v-for='post in posts' :key='post.id' :post='post'/>
            </section>

            <div v-if='!posts' class='widget xxs-mt-0' data-arise='fadeIn2'>
                <i class="fa fa-spinner fa-pulse"></i> Ładuję stronę...
            </div>

            <div v-if='loadingMore' class='widget text-center' data-arise='fadeIn2'>
                <i class="fa fa-spinner fa-pulse"></i> Doładowuję posty...
            </div>

            <div v-if='posts && !loadingMore'>
                <div class='text-center xxs-mb-30'>
                    <button v-if='hasMore' @click='loadMore()' class='btn btn-default'><i class='fa fa-angle-double-down'></i> Pokaż starsze</button>
                    <a :href='posts[posts.length-1].archiveUrl' class='btn btn-default'><i class='fa fa-archive'></i> Przejdź do archiwum</a>
                </div>
            </div>
            
        </div>
    </div>
</template>
<script>
    import PostComponent from '../components/PostComponent.vue';
    import { cache, preparePostsFromFeed, preparePostFromFeed } from '../js/data-processing.js';
    import { setMeta, preloadImages } from '../js/helpers.js';

    export default
    {
        data()
        {
            return {
                sliderPosts: null,
                sliderKey: null,
                promoPosts: null,
                posts: null,
                hasMore: false,
                loadingMore: false,
            }
        },
        components: { post: PostComponent },
        created()
        {
            setMeta();
            this.fetchData();
        },
        updated()
		{
			window.init(this.$el);
		},
        methods:
        {
            labelUrl: label => "search/label/" + encodeURIComponent(label),
			fetchData()
            {
                var view = this;
                if (cache.home) Object.assign(view, cache.home);
                //if (!cache.home || cache.home.posts.length < history.get('postCount'))
                {
                    window.pushLoadCondition();
                    var home = {};
                    Promise.all(
                    [
                        new Promise(function(resolve)
                        {
                            var queryParams = { 'max-results': history.get('postCount', 10), alt: 'json' };
                            $.getJSON(window.feedBase+'posts/default?callback=?', queryParams, function(data)
                            {
                                var posts = preparePostsFromFeed(data.feed);
                                home.sliderPosts = posts.slice(0, 10);
                                home.sliderKey = home.sliderPosts.map(p => p.id).join('|');
                                home.posts = history.has('postCount') ? posts : posts.slice(0, 5);
                                home.hasMore = parseInt(data.feed.openSearch$totalResults.$t) > 5;
                                resolve();
                            });
                        }),
                        new Promise(function(resolve)
                        {
                            var postUrls = Object.values(window.settings['Polecane posty'].items).slice(0, 3);
                            var promoLeft = postUrls.length;
                            home.promoPosts = [1, 2, 3].slice(0, home.promoLeft);
                            for (let [index, post] of postUrls.entries())
                            {
                                $.getJSON(window.feedBase+'posts/default/'+post.key+'?callback=?', { alt: 'json' }, function(feed)
                                {
                                    home.promoPosts[index] = preparePostFromFeed(feed.entry);
                                    if (!--promoLeft) resolve();
                                });
                            }
                        })
                    ])
                    .then(function()
                    {
                        cache.home = home;
                        var images = cache.home.sliderPosts.slice(0, 2).map(p => p.photo)
                            .concat(cache.home.promoPosts.map(p => p.photo));
                        preloadImages(images, function()
                        {
                            setTimeout(function()
                            {
                                Object.assign(view, cache.home);
                                window.popLoadCondition(); 
                            });
                        }, 1000);
                    });
                }
            },
            loadMore()
			{
                var view = this;
                var queryParams = { 'start-index': view.posts.length + 1, 'max-results': 10, alt: 'json' };
                $.getJSON(window.feedBase+'posts/default?callback=?', queryParams, function(data)
				{
                    var posts = preparePostsFromFeed(data.feed);
                    var c = cache.home;
                    c.posts = view.posts.concat(posts).filter((item, index, self) => self.findIndex(item2 => item2.id == item.id) == index);
                    c.hasMore = parseInt(data.feed.openSearch$itemsPerPage.$t) + parseInt(data.feed.openSearch$startIndex.$t) <= parseInt(data.feed.openSearch$totalResults.$t);
					history.set('postCount', c.posts.length);
					preloadImages(posts.slice(0, 2).map(p => p.photo), function()
                    {
                        view.posts = c.posts;
                        view.hasMore = c.hasMore;
                        view.loadingMore = false;
                    }, 100);
				});
                this.loadingMore = true;
			}
        }
    }
</script>