<template>
    <div>
        <div style='background: #000000' class='xxs-pt-50'></div>
        <div class='container'>
            
            <div class='widget text-center'>
                <h2>Posty z etykietą</h2>
                <p class='xxs-mb-0'>{{label}}</p>
            </div>
            
            <section class='posts'>
                <post v-for='post in posts' :key='post.id' :post='post'/>
            </section>
            
            <!--<div v-if='hasMore'><div class='infinite-more' @click='loadMore'></div></div>-->
            <div class='text-center'>
                <button v-if='hasMore && !loadingMore' @click='loadMore()' class='btn btn-default xxs-mb-30'><i class='fa fa-angle-double-down'></i> Pokaż więcej</button>
            </div>
            
            <div v-if='loadingMore' class='widget text-center' data-arise='fadeIn2'>
                <i class="fa fa-spinner fa-pulse"></i> Doładowuję posty...
            </div>

            <div v-if='!posts' class='widget' data-arise='fadeIn2'>
                <i class="fa fa-spinner fa-pulse"></i> Ładuję posty...
            </div>
            
            <div v-if='posts && !posts.length' class='widget' data-arise='fadeIn2'>
                Nic nie znalazłem :(.
            </div>
            
        </div>
    </div>
</template>
<script>
    import PostComponent from '../components/PostComponent.vue';
    import { cache, preparePostsFromFeed } from '../js/data-processing.js';
    import { setMeta, preloadImages } from '../js/helpers.js';
    import moment from 'moment';

    cache.labels = {};

    export default
    {
        data()
        {
            return {
                posts: null,
                hasMore: false,
                loadingMore: false,
                label: null,
            }
        },
        components: { post: PostComponent },
        created()
        {
            this.fetchData();
        },
        updated()
		{
			window.init(this.$el);
		},
        methods:
        {
            fetchData()
            {
                var view = this;
                view.label = this.$route.params.label;
                setMeta({ pageTitle: `Lista postów z etykietą "${view.label}"` });
                if (cache.labels[view.label]) Object.assign(view, cache.labels[view.label]);
                //if (!cache.labels[view.label] || moment().diff(cache.labels[view.label].cachedAt, 'minutes') >= cache.refreshRate || cache.labels[view.label].posts.length < history.get('postCount'))
                {
                    window.pushLoadCondition();
                    var queryParams = { 'max-results': history.get('postCount', 10), alt: 'json' };
                    $.getJSON(window.feedBase+'posts/default/-/'+encodeURIComponent(view.label)+'?callback=?', queryParams, function(data)
                    {
                        cache.labels[view.label] =
                        {
                            posts: preparePostsFromFeed(data.feed),
                            hasMore: parseInt(data.feed.openSearch$itemsPerPage.$t) + parseInt(data.feed.openSearch$startIndex.$t) <= parseInt(data.feed.openSearch$totalResults.$t),
                            cachedAt: moment()
                        };
                        preloadImages(cache.labels[view.label].posts.slice(0, 2).map(p => p.photo), function()
                        {
                            Object.assign(view, cache.labels[view.label]);
                            window.popLoadCondition();
                        }, 100);
                    });
                }
            },
            loadMore()
			{
                var view = this;
				var queryParams = { 'start-index': view.posts.length + 1, 'max-results': 10, alt: 'json' };
				$.getJSON(window.feedBase+'posts/default/-/'+encodeURIComponent(view.label)+'?callback=?', queryParams, function(data)
				{
                    var posts = preparePostsFromFeed(data.feed);
                    var c = cache.labels[view.label];
                    c.posts = view.posts.concat(posts).filter((item, index, self) => self.findIndex(item2 => item2.id == item.id) == index);
                    c.hasMore = parseInt(data.feed.openSearch$itemsPerPage.$t) + parseInt(data.feed.openSearch$startIndex.$t) <= parseInt(data.feed.openSearch$totalResults.$t);
					history.set('postCount', c.posts.length);
					preloadImages(posts.slice(0, 2).map(p => p.photo), function()
                    {
                        view.posts = c.posts;
                        view.hasMore = c.hasMore;
                        view.loadingMore = false;
                    }, 100);
				});
				this.loadingMore = true;
			}
        }
    }
</script>