<template>
    <div>
        <div style='background: #000000' class='xxs-pt-50'></div>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-8'>
                    <section class='post-section' v-if='post'>
                        <article data-arise='fadeIn2' class='post-full xs-mb-30'>
                            <div v-if='post.hasMainPhoto' class='hover-zoom'>
                                <a :href='post.photoFull'>
                                    <img class='post-full-img' :src='post.photo'/>
                                </a>
                            </div>
                            <div>
                                <div class='post-content xs-pb-15'>
                                    <div class='post-labels'>
                                        <template v-for='(label, index) in post.labels'>
                                            <a class="label" :href='labelUrl(label)' :key='index'>{{label}}</a>{{' '}}
                                        </template>
                                    </div>
                                    <h3 class='post-title'>{{post.title}}</h3>
                                    <div class='post-date-and-author'>
                                        <span>
                                            <a :href='post.archiveUrl'><i class='fa fa-clock-o'></i> {{post.when}}</a>
                                            <span class='hidden-xxs'>&nbsp;&nbsp;</span><br class='visible-xxs'/>
                                            <a target="_blank" :href='post.author.url'><i class='fa fa-coffee'></i> {{post.author.displayName}}</a>
                                        </span>
                                    </div>
                                    <div v-html="post.hasMainPhoto ? post.contentWithoutPhoto : post.content" class='post-text'></div>
                                    <div class='clearfix'></div>
                                    <hr class='xs-mb-15' style='margin-left: -30px; margin-right: -30px;'/>
                                    <div class='pull-left' style='padding-top: 4px; height: 32px; overflow: hidden; position: absolute;'>
                                        <div class="fb-like" :data-href='url' data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
                                    </div>
                                    <div class='pull-right'>
                                        <a class='btn btn-sm btn-default ajax' data-toggle='tooltip' data-container='body' title='Udostępnij na Facebooku' :href="'http://www.facebook.com/sharer.php?u='+url" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            <i class='fa fa-fw fa-facebook'></i>
                                        </a>
                                        <a class='btn btn-sm btn-default ajax' data-toggle='tooltip' data-container='body' title='Udostępnij w Google+' :href="'https://plus.google.com/share?url='+url" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            <i class='fa fa-fw fa-google-plus'></i>
                                        </a>
                                        <a class='btn btn-sm btn-default ajax' data-toggle='tooltip' data-container='body' title='Udostępnij na Twitterze' :href="'https://twitter.com/share?url='+url" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            <i class='fa fa-fw fa-twitter'></i>
                                        </a>
                                    </div>
                                    <div class='clearfix'></div>
                                </div>
                            </div>
                        </article>
                        <div v-if='post.relatedPosts && post.relatedPosts.length' class='widget' data-arise='fadeIn2'  :key='1'>
                            <h2>Zobacz również</h2>
                            <div class='row related-posts'>
                                <div v-for='(relatedPost, index) in post.relatedPosts' :key='index' class='col-md-4 col-xxs-6'>
                                    <a class='related-post' :href='relatedPost.url' :class="{'hidden-xs hidden-xxs hidden-sm': index == 2}">
                                        <div class='related-post-photo hover-zoom'>
                                            <img :src='relatedPost.photo'/>
                                        </div>
                                        <h4>{{relatedPost.title}}</h4>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div v-if='post.comments' class='widget' data-arise='fadeIn2' :key='2'>
                            <h2>Komentarze</h2>
                            <div class='comments'>
                                <comment v-for='comment in post.comments' :key='comment.id' :comment='comment' :root-comment='comment' :is-page-comment='false' :root='post'/>
                                <p v-if='!post.comments.length'>Nikt nie napisał jeszcze komentarza. Bądź pierwszy/pierwsza!</p>
                            </div>
                            <div class='comment-iframe-container'>
                                <iframe class='comment-iframe' scrolling='no' :src="'https://www.blogger.com/comment-iframe.g?blogID='+post.blog.id+'&postID='+post.id"></iframe>
                            </div>
                        </div>
                        <div v-if='!post.comments' class='widget' data-arise='fadeIn2'>
                            <i class="fa fa-spinner fa-pulse"></i> Ładuję komentarze...
                        </div>
                    </section>	
                    <div v-if='!post' class='widget' data-arise='fadeIn2'>
                        <i class="fa fa-spinner fa-pulse"></i> Ładuję post...
                    </div>
                </div>
                <aside class='col-lg-4 sidebar-container'>
                    <div class='row'>
                        <div class='col-sm-6 col-lg-12'>
                            <div class='blogger-insert-section' data-id='sidebar1'></div>
                        </div>
                        <div class='col-sm-6 col-lg-12 xxs-mt-30 sm-mt-0 lg-mt-30'>
                            <div class='blogger-insert-section' data-id='sidebar2'></div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</template>
<script>
    import CommentComponent from '../components/CommentComponent.vue';
    import { cache, preparePostFromFeed, preparePostsFromFeed, prepareCommentsFromFeed, shuffleArray } from '../js/data-processing.js';
    import { setMeta, preloadImages } from '../js/helpers.js';

    export default
    {
        data()
        {
            return {
                post: null,
                url: window.location.href
            }
        },
        components: { comment: CommentComponent },
        created()
        {
            setMeta();
            this.fetchData();
        },
        updated()
		{
			window.init(this.$el);
		},
        beforeDestroy()
        {
            $('.section', this.$el).appendTo('.blogger-sections');
        },
        methods:
        {
            labelUrl: label => "search/label/" + encodeURIComponent(label),
			fetchData()
            {
                var view = this;
                var params = this.$route.params;
                var path = `/${params.year}/${params.month}/${params.url}.html`;
                var hasCache = cache.postsByPath[path] ? true : false;
                if (hasCache)
                {
                    view.post = cache.postsByPath[path];
                    view.post.prepareContent();
                    if (window.opened) view.fetchRest();
                    else $(window).on('init-delayed', () => view.fetchRest());
                }
                //else
                {
                    window.pushLoadCondition();
                    $.getJSON(window.feedBase+'posts/default?callback=?', { alt: 'json', path }, function(feed)
                    {
                        var post = preparePostFromFeed(feed.feed.entry[0]);
                        preloadImages([post.photo], function()
                        {
                            view.post = post;
                            view.post.prepareContent();
                            window.popLoadCondition();
                            if (!hasCache)
                            {
                                if (window.opened) view.fetchRest();
                                else $(window).on('init-delayed', () => view.fetchRest());
                            }
                        }, 200);
                    })
                    .fail(function()
                    {
                        if (!hasCache) view.$router.pageNotFound();
                        window.popLoadCondition();
                    });
                }
            },
            fetchRest()
            {
                setMeta({ pageTitle: this.post.title, description: this.post.intro, 'og:type': 'article' });
                let view = this;
                let labelsLeft = view.post.labels.length;
                let relatedPosts = [];
                if (!view.post.relatedPosts || history.get('scrollTop') === null)
                {
                    for (let label of view.post.labels)
                        $.getJSON(window.feedBase+'posts/default/-/'+label+'?callback=?', { 'max-results': 6, redirect: false, orderby: 'published', alt: 'json' }, function(data)
                        {
                            labelsLeft--;
                            relatedPosts = relatedPosts.concat(preparePostsFromFeed(data.feed));
                            if (labelsLeft == 0)
                            {
                                relatedPosts = relatedPosts.filter(p => p.id != view.post.id);
                                relatedPosts = relatedPosts.filter((p, i, self) => i == self.map(p2 => p2.id).indexOf(p.id));
                                shuffleArray(relatedPosts);
                                view.post.relatedPosts = cache.posts[view.post.id].relatedPosts = relatedPosts.slice(0, 3);
                            }
                    });
                }
                $.getJSON(window.feedBase+view.post.id+'/comments/default?callback=?', { 'max-results': 500, alt: 'json', reverse: 1 }, function(data)
                {
                    view.post.comments = cache.posts[view.post.id].comments = prepareCommentsFromFeed(data.feed);
                });
                
                
            }
        }
    }
</script>