<template>
    <div>
        <div style='background: #000000' class='xxs-pt-50'></div>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-8'>
                    <section class='post-section' v-if='post'>
                        <div v-if='type == "page"' class='widget text-center'>
                            <h2 class='xxs-pb-0'>{{post.title}}</h2>
                        </div>
                        <article data-arise='fadeIn2' class='post-full xs-mb-30'>
                            <div v-if='type == "post" && post.hasMainPhoto' class='hover-zoom'>
                                <a :href='post.photoFull'>
                                    <img class='post-full-img' :src='post.photo'/>
                                </a>
                            </div>
                            <div>
                                <div class='post-content xs-pb-15'>
                                    <div v-if='type == "post"'>
                                        <div class='post-labels'>
                                            <template v-for='(label, index) in post.labels'>
                                                <a class="label" :href='labelUrl(label)' :key='index'>{{label}}</a>{{' '}}
                                            </template>
                                        </div>
                                        <h3 class='post-title'>{{post.title}}</h3>
                                        <div class='post-date-and-author'>
                                            <span>
                                                <a :href='post.archiveUrl'><i class='fa fa-clock-o'></i> {{post.when}}</a>
                                                <span class='hidden-xxs'>&nbsp;&nbsp;</span><br class='visible-xxs'/>
                                                <a target="_blank" :href='post.author.url'><i class='fa fa-coffee'></i> {{post.author.displayName}}</a>
                                            </span>
                                        </div>
                                        <div v-html="post.hasMainPhoto ? post.contentWithoutPhoto : post.content" class='post-text'></div>
                                    </div>
                                    <div v-if='type == "page"' v-html="post.content" class='post-text'></div>
                                    <div class='clearfix'></div>
                                    <hr class='xs-mb-15' style='margin-left: -30px; margin-right: -30px;'/>
                                    <div class='pull-left' style='padding-top: 4px; height: 32px; overflow: hidden; position: absolute;'>
                                        <div class="fb-like" :data-href='url' data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
                                    </div>
                                    <div class='pull-right'>
                                        <a class='btn btn-sm btn-default ajax' data-toggle='tooltip' data-container='body' title='Udostępnij na Facebooku' :href="'http://www.facebook.com/sharer.php?u='+url" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            <i class='fa fa-fw fa-facebook'></i>
                                        </a>
                                        <a class='btn btn-sm btn-default ajax' data-toggle='tooltip' data-container='body' title='Udostępnij w Google+' :href="'https://plus.google.com/share?url='+url" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            <i class='fa fa-fw fa-google-plus'></i>
                                        </a>
                                        <a class='btn btn-sm btn-default ajax' data-toggle='tooltip' data-container='body' title='Udostępnij na Twitterze' :href="'https://twitter.com/share?url='+url" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            <i class='fa fa-fw fa-twitter'></i>
                                        </a>
                                    </div>
                                    <div class='clearfix'></div>
                                </div>
                            </div>
                        </article>
                    </section>	
                    <div v-if='!post' class='widget' data-arise='fadeIn2'>
                        <i class="fa fa-spinner fa-pulse"></i> Ładuję stronę...
                    </div>
                </div>
                <aside class='col-lg-4 sidebar-container'>
                    <div class='row'>
                        <div class='col-sm-6 col-lg-12'>
                            <div class='blogger-insert-section' data-id='sidebar1'></div>
                        </div>
                        <div class='col-sm-6 col-lg-12 xxs-mt-30 sm-mt-0 lg-mt-30'>
                            <div class='blogger-insert-section' data-id='sidebar2'></div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</template>
<script>
    import { preparePostFromWidget } from '../js/data-processing.js';
    import { setMeta } from '../js/helpers.js';

    export default
    {
        data()
        {
            return {
                post: null,
                type: 'page',
                url: window.location.href
            }
        },
        created()
        {
            this.fetchData();
        },
        updated()
		{
			window.init(this.$el);
		},
        beforeDestroy()
        {
            $('.section', this.$el).appendTo('.blogger-sections');
        },
        methods:
        {
            labelUrl: label => "search/label/" + encodeURIComponent(label),
			fetchData()
            {
                var view = this;
                view.post = preparePostFromWidget(postWidgetData.posts[0]);
                view.post.prepareContent();
                view.type = this.$route.query.type == 'POST' ? 'post' : 'page';
                setMeta({ pageTitle: 'Podgląd: '+this.post.title, description: this.post.intro, 'og:type': 'article' });
            },
        }
    }
</script>