<template>
    <div>
        <div style='background: #000000' class='xxs-pt-50'></div>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-8'>
                    <div class='widget text-center'>
                        <h2 class='xxs-pb-0'>Spis recenzji</h2>
                    </div>
                    
                    <section v-if='groups' class='widget text-center' data-arise='fadeIn2'>
                        <div class='review-group' v-if='groups' v-for='(group, key) in groups' :key='key'>
                            <h3 class='page-header'>{{key}}</h3>
                            <ul>
                                <li style='list-style: none' v-for='post in group' :key='post.id'>
                                    <a :href='post.url'>
                                        {{post.title}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <div v-if='!groups' class='widget' data-arise='fadeIn2'>
                        <i class="fa fa-spinner fa-pulse"></i> Ładuję posty...
                    </div>
                </div>
                <aside class='col-lg-4 sidebar-container'>
                    <div class='row'>
                        <div class='col-sm-6 col-lg-12'>
                            <div class='blogger-insert-section' data-id='sidebar1'></div>
                        </div>
                        <div class='col-sm-6 col-lg-12 xxs-mt-30 sm-mt-0 lg-mt-30'>
                            <div class='blogger-insert-section' data-id='sidebar2'></div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</template>
<script>
    import { cache, preparePostLinksFromFeed, isRefreshTime } from '../js/data-processing.js';
    import { setMeta } from '../js/helpers.js';
    import moment from 'moment';

    export default
    {
        data()
        {
            return {
                groups: null
            }
        },
        created()
        {
            setMeta({ pageTitle: 'Spis recenzji' });
            this.fetchData();
        },
        updated()
		{
			window.init(this.$el);
        },
        beforeDestroy()
        {
            $('.section', this.$el).appendTo('.blogger-sections');
        },
        methods:
        {
            fetchData()
            {
                var view = this;
                if (cache.reviews) Object.assign(view, cache.reviews);
                //if (!cache.reviews || isRefreshTime(cache.reviews.cachedAt))
                {
                    window.pushLoadCondition();
                    var queryParams = { 'max-results': 1000, alt: 'json' };
                    $.getJSON(window.feedBase+'posts/default/-/recenzja?callback=?', queryParams, function(data)
                    {
                        var posts = preparePostLinksFromFeed(data.feed);
                        var groups = {};
                        if (posts.length)
                        {
                            posts.forEach(post=>post.bookTitle = /"(.*?)"/.test(post.title) ? post.title.match(/"(.*?)"/)[1] : post.title);
                            posts = posts.sort((a, b)=>a.bookTitle.toLowerCase().localeCompare(b.bookTitle.toLowerCase()));
                            for (var post of posts)
                            {
                                var group = post.bookTitle[0];
                                if (group.match(/[0-9]/)) group = '123';
                                if (!groups[group]) groups[group] = [];
                                groups[group].push(post);
                            }
                        }
                        cache.reviews = { groups, cachedAt: moment() };
                        Object.assign(view, cache.reviews);
                        window.popLoadCondition();
                    });
                }
            }
        }
    }
</script>