<template>
    <div>
        <div style='background: #000000' class='xxs-pt-50'></div>
        <div class='container'>
            <div class='row'>
                <div class='col-lg-8'>
                    <section class='post-section' v-if='post'>
                        <div class='widget text-center'>
                            <h2 class='xxs-pb-0'>{{post.title}}</h2>
                        </div>
                        <article data-arise='fadeIn2' class='post-full xs-mb-30'>
                            <div>
                                <div class='post-content xs-pb-15'>
                                    <div v-html="post.content" class='post-text'></div>
                                    <div class='clearfix'></div>
                                    <hr class='xs-mb-15' style='margin-left: -30px; margin-right: -30px;'/>
                                    <div class='pull-left' style='padding-top: 4px; height: 32px; overflow: hidden; position: absolute;'>
                                        <div class="fb-like" :data-href='url' data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>
                                    </div>
                                    <div class='pull-right'>
                                        <a class='btn btn-sm btn-default ajax' data-toggle='tooltip' data-container='body' title='Udostępnij na Facebooku' :href="'http://www.facebook.com/sharer.php?u='+url" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            <i class='fa fa-fw fa-facebook'></i>
                                        </a>
                                        <a class='btn btn-sm btn-default ajax' data-toggle='tooltip' data-container='body' title='Udostępnij w Google+' :href="'https://plus.google.com/share?url='+url" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            <i class='fa fa-fw fa-google-plus'></i>
                                        </a>
                                        <a class='btn btn-sm btn-default ajax' data-toggle='tooltip' data-container='body' title='Udostępnij na Twitterze' :href="'https://twitter.com/share?url='+url" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            <i class='fa fa-fw fa-twitter'></i>
                                        </a>
                                    </div>
                                    <div class='clearfix'></div>
                                </div>
                            </div>
                        </article>
                        <div v-if='post.comments' class='widget' data-arise='fadeIn2' :key='1'>
                            <h2>Komentarze</h2>
                            <div class='comments'>
                                <comment v-for='comment in post.comments' :key='comment.id' :comment='comment' :root-comment='comment' :is-page-comment='true' :root='post'/>
                                <p v-if='!post.comments.length'>Nikt nie napisał jeszcze komentarza. Bądź pierwszy/pierwsza!</p>
                            </div>
                            <div class='comment-iframe-container'>
                                <iframe class='comment-iframe' scrolling='no' :src="'https://www.blogger.com/comment-iframe.g?blogID='+post.blog.id+'&pageID='+post.id"></iframe>
                            </div>
                        </div>
                        <div v-if='!post.comments' class='widget' data-arise='fadeIn2'>
                            <i class="fa fa-spinner fa-pulse"></i> Ładuję komentarze...
                        </div>
                    </section>	
                    <div v-if='!post' class='widget' data-arise='fadeIn2'>
                        <i class="fa fa-spinner fa-pulse"></i> Ładuję stronę...
                    </div>
                </div>
                <aside class='col-lg-4 sidebar-container'>
                    <div class='row'>
                        <div class='col-sm-6 col-lg-12'>
                            <div class='blogger-insert-section' data-id='sidebar1'></div>
                        </div>
                        <div class='col-sm-6 col-lg-12 xxs-mt-30 sm-mt-0 lg-mt-30'>
                            <div class='blogger-insert-section' data-id='sidebar2'></div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</template>
<script>
    import CommentComponent from '../components/CommentComponent.vue';
    import { cache, preparePostFromFeed, prepareCommentsFromWidget } from '../js/data-processing.js';
    import { setMeta } from '../js/helpers.js';

    export default
    {
        data()
        {
            return {
                post: null,
                url: window.location.href
            }
        },
        components: { comment: CommentComponent },
        created()
        {
            setMeta();
            this.fetchData();
        },
        updated()
		{
			window.init(this.$el);
		},
        beforeDestroy()
        {
            $('.section', this.$el).appendTo('.blogger-sections');
        },
        methods:
        {
			fetchData()
            {
                var view = this;
                var params = this.$route.params;
                var path = view.path = `/p/${params.url}.html`;
                var hasCache = cache.postsByPath[path] ? true : false;
                if (hasCache)
                {
                    view.post = cache.postsByPath[path];
                    view.post.prepareContent();
                    if (window.opened) view.fetchRest();
                    else $(window).on('init-delayed', () => view.fetchRest());
                }
                //else
                {
                    window.pushLoadCondition();
                    $.getJSON(window.feedBase+'pages/default?callback=?', { alt: 'json', path }, function(feed)
                    {
                        view.post = preparePostFromFeed(feed.feed.entry[0]);
                        view.post.prepareContent();
                        window.popLoadCondition();
                        if (!hasCache)
                        {
                            if (window.opened) view.fetchRest();
                            else $(window).on('init-delayed', () => view.fetchRest());
                        }
                    })
                    .fail(function()
                    {
                        if (!hasCache) view.$router.pageNotFound();
                        window.popLoadCondition();
                    });
                }
            },
            fetchRest()
            {
                setMeta({ pageTitle: this.post.title, description: this.post.intro, 'og:type': 'article' });
                let view = this;
                let url = $('body').data('env') == 'dev' ? 'page-response.html' : window.location.href;
                $.get(url, function(data)
                {
                    $('#post-widget-data').remove();
                    $(data).find('#post-widget-data').appendTo('body');
                    if (window.postWidgetData.posts[0].commentJso && Array.isArray(window.postWidgetData.posts[0].commentJso))
                        view.post.comments = cache.posts[view.post.id].comments = prepareCommentsFromWidget(window.postWidgetData.posts[0].commentJso);
                    else
                        view.post.comments = cache.posts[view.post.id].comments = [];
                });
            }
        }
    }
</script>